#wrapper{
  width: 900px;
  height: 800px;
  margin: 0 auto;/* This will move the div to center */
}
#banner {
  width: 900px;
  height: 100px;
  background-color: #ff6a00;
}
#nav {
  background-color: #0ff;
  width: 900px;
  height: 50px;
}
.home {
  width: 150px;
  height: 50px;
  float: left;
}
div.home:hover{
  background-color: #fff;
  color: #ffd800;
}
.faq {
  width: 150px;
  height: 50px;
  float: left;
}
div.faq:hover{
  background-color: #fff;
  color: #ffd800;
}
.about {
  width: 150px;
  height: 50px;
  float: left;
}
div.about:hover{
  background-color: #fff;
  color: #ffd800;
}
.careers {
  width: 150px;
  height: 50px;
  float: left;
}
div.careers:hover{
  background-color: #fff;
  color: #ffd800;
}
.contact {
  width: 150px;
  height: 50px;
  float: left;
}
div.contact:hover{
  background-color: #fff;
  color: #ffd800;
}
#content {
  background-color: #b6ff00;
  width: 900px;
  height: 700px;
}

#footer {
  background-color: #808080;
  width: 900px;
  height: 100px;
}
